In [1]:
dm = divmod

In [2]:
type(dm)

builtin_function_or_method

In [3]:
dm(17, 6)

(2, 5)

In [4]:
def alpha():
    print("1")
def beta():
    print("Hello")
def  gamma():
    print("World")

In [6]:
f = [alpha, beta, gamma]

In [7]:
f[1]()

Hello

In [8]:
p = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [10]:
# map 
# Two arguments: a function: f and a sequence: s
# map(f, s) -> [f(s[0]), f(s[1]) ... f(s[-1])]

In [12]:
def add1(x: int):
    return x + 1

In [14]:
list(map(add1, p))

[3, 4, 6, 8, 12, 14, 18, 20, 24, 30, 32, 38]

In [15]:
def pick(y: int) -> bool:
    return y % 6 == 1

In [21]:
print(p)
pp = list(map(pick, p))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [22]:
type(pp), type(pp[0]), len(p) == len(pp)

(list, bool, True)

In [23]:
pp

[False, False, False, True, False, True, False, True, False, False, True, True]

In [24]:
data = input()

6 8 9 3 -9 18

In [25]:
data

'6 8 9 3 -9 18'

In [26]:
data.split()

['6', '8', '9', '3', '-9', '18']

In [27]:
list(map(int, data.split()))

[6, 8, 9, 3, -9, 18]

In [28]:
inp = map(int, input().split())

6 8 9 3 -9 18

In [29]:
for i in inp:
    print(i, end=" ")

6 8 9 3 -9 18

In [30]:
for i in map(int, input().split()):
    print(i, i * i)

7 8 9 6 5 4
7 49
8 64
9 81
6 36
5 25
4 16

In [31]:
p

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [38]:
def pick2(x: int) -> bool:
    return x % 6 == 5

In [39]:
list(filter(pick2, p))

[5, 11, 17, 23, 29]

In [40]:
[m % 6 == 1 for m in p] # ===> map

[False, False, False, True, False, True, False, True, False, False, True, True]

In [42]:
[m for m in p if m % 6 == 5] # ===> filter

[5, 11, 17, 23, 29]

## {$\phi(x)| \forall x \in S$}     MAP
## {$ x| \forall x \in S, p(x)$}    FILTER
## {$\phi(x)| \forall x \in S, p(x)$}  BOTH

In [46]:
p

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [43]:
[x * x for x in p]

[4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369]

In [44]:
[x for x in p if x % 6 == 5]

[5, 11, 17, 23, 29]

In [45]:
[x * x + 1 for x in p if x %7 == 2]

[5, 530, 1370]

In [47]:
def add1(x: int):
    return x + 1

In [48]:
list(map(add1, p))

[3, 4, 6, 8, 12, 14, 18, 20, 24, 30, 32, 38]

In [49]:
list(map(lambda x: x + 1, p))

[3, 4, 6, 8, 12, 14, 18, 20, 24, 30, 32, 38]

In [38]:
def pick2(x: int) -> bool:
    return x % 6 == 5

In [39]:
list(filter(pick2, p))

[5, 11, 17, 23, 29]

In [50]:
list(filter(lambda x: x % 6 == 5, p))

[5, 11, 17, 23, 29]

In [51]:
# 173 -> [1, 7, 3]

In [54]:
def digits(n: int) -> [int]:
    d = []
    while n > 0:
        d.insert(0, n % 10)
        n //= 10
    return d

In [55]:
digits(173)

[1, 7, 3]

In [56]:
digits(870364)

[8, 7, 0, 3, 6, 4]

In [60]:
n = 879878
list(map(int, str(n)))

[8, 7, 9, 8, 7, 8]

In [61]:
[int(ch) for ch in str(n)]

[8, 7, 9, 8, 7, 8]

In [62]:
words = ["eat", "tea", "tan", "ate", "nat", "bat"]

In [65]:
def alphabetize(s: str) -> str:
    return "".join(sorted(s))

In [66]:
alphabetize("hello")

'ehllo'

In [72]:
together = sorted(words, key=alphabetize)

In [73]:
import itertools

In [77]:
for key in itertools.groupby(together, key=alphabetize):
    print(key[0], list(key[1]))

abt ['bat']
aet ['eat', 'tea', 'ate']
ant ['tan', 'nat']

In [78]:
[list(group) for key, group in 
    itertools.groupby(together, key=alphabetize)]

[['bat'], ['eat', 'tea', 'ate'], ['tan', 'nat']]

In [79]:
from itertools import groupby
words = ["eat", "tea", "tan", "ate", "nat", "bat"]
together = sorted(words, key=alphabetize)
anagrams = [list(group) for _, group in 
            groupby(together, key=alphabetize)]

In [80]:
print(anagrams)

[['bat'], ['eat', 'tea', 'ate'], ['tan', 'nat']]

### reduce($\phi$, $L$)
### ===> reduce($\phi$, [$\phi(L[0], L[1])$] + $L$[2:])

#### if $\phi$ == +, 
#### what is reduce($\phi$, L)

In [81]:
# reduce(lambda a, b: a * b, range(1, 11)) == 10!

In [82]:
from functools import reduce

In [84]:
reduce(lambda a, b: a * b, range(1, 11)) #== 10!

3628800