## Pandas

### Data Description:

* The dataset is made up of 1016810 rows and 7 columns. 

* Each line is the data of one student

* The seven columns correspond to 
   - Region Code
   - student id
   - English marks
   - First Language marks
   - Math marks
   - Science marks
   - Social marks
* The marks for the students absent  for the exam are sometimes denoted by 'A', sometimes denoted by ' AA', sometimes denoted by 'AAA' and sometimes denoted by 'G'

* If the student is not marked as absent but no marks in a subject then he is a supplementary candidate.

#### Exercise 1 :

Load the dataset using Pandas and drop all the supplementary candidates from the dataset

In [6]:
#### Your Code Here
import pandas as pd
a=pd.read_csv("Data_munging_SSLC_data.txt",delimiter=";")
print(type(a))
a.head()

<class 'pandas.core.frame.DataFrame'>

   01  010001  053  036   28   16   44
0   1   10002  058  037   42   35   40
1   1   10003  072  056   71   55   70
2   1   10004  087  064   83   58   65
3   1   10005  059  045   50   35   48
4   1   10006  044  037   25   18   37

### Exercise 2:
Display the first and last 5 rows of the data

In [7]:
#### Your Code Here
print(a.head(5))
print(a.tail(5))

   01  010001  053  036   28   16   44
0   1   10002  058  037   42   35   40
1   1   10003  072  056   71   55   70
2   1   10004  087  064   83   58   65
3   1   10005  059  045   50   35   48
4   1   10006  044  037   25   18   37
         01  010001  053  036   28   16   44
1016804  65  859740  NaN  NaN  NaN   25  NaN
1016805  65  859741  021  NaN   43   19  NaN
1016806  65  859742  051  NaN  NaN  NaN  NaN
1016807  65  859743  035  NaN  NaN   13  NaN
1016808  26  872158  NaN  NaN  NaN  NaN  NaN

#### Exercise 3 :

Standardize the indication  for the absent students. 

For example replace all absentees notation with  'ABS'

In [8]:
#### Your Code Here
a.columns

Index(['01', '010001', '053', '036', ' 28', ' 16', ' 44'], dtype='object')

#### Exercise 4 :

Draw a stacked bar plot. Representing regions verus number of students with first class, number of students with second class and number of students with third class. 

* First class >= 60
* Second class >= 50
* Third class  >= 40

In [0]:
#### Your Code Here