In [0]:
first_tuple = ("Monty Python", 30, "Baker Street", 5.8)
print(first_tuple[0])

Monty Python

In [0]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853) 
print(city_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [0]:
new_tuple = city_tuple
print(new_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [0]:
new_tuple[1] = 13.8877

TypeError: 'tuple' object does not support item assignment

In [0]:
b = city_tuple[:-1]
print(b)
print(len(b))

('Mumbai', 18.9949521)
2

In [0]:
c = list(b)
print("c is: {0}".format(c))
c= tuple(c)
print("c is now a tuple: {0}".format(c))

c is: ['Mumbai', 18.9949521]
c is now a tuple: ('Mumbai', 18.9949521)